In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import urllib
import os

In [2]:
# existing_files = os.listdir("./imagery/")
# existing_files = [i for i in existing_files if ".ipynb" not in i]
# existing_files = [str(i.split("_")[1].split(".")[0]) for i in existing_files]

In [3]:
# len(existing_files)

In [4]:
coords = pd.read_csv("./data/pri-performing-all.csv")
coords = coords[coords["YEAR_OF_RESULT"] == 2014]
coords = coords[["CODE", "LATITUDE", "LONGITUDE"]]
coords.columns = ["school_id", "latitude", "longitude"]
print(coords.shape)
coords = coords.drop_duplicates(subset = ["school_id"])
print(coords.shape)
coords.head()

(15867, 3)
(15867, 3)

     school_id  latitude  longitude
2   PS0101-001 -3.338421  36.744000
5   PS0101-003 -3.607895  36.844783
8   PS0101-005 -3.295716  36.620229
11  PS0101-006 -3.308792  36.648969
14  PS0101-007 -3.334140  36.657130

In [5]:
print(coords.shape)

(15867, 3)

In [6]:
API_KEY = ""

In [7]:
def GetGoogleStatic(lat, long, school_id):
    lat = str(lat)
    long = str(long)
    url = "https://maps.googleapis.com/maps/api/staticmap?center=" + str(lat) + "," + str(long) + "&zoom=18&size=256x256&maptype=satellite&key=" + API_KEY
    file = "./tan_imagery/z18_" + str(school_id) + ".png"
    urllib.request.urlretrieve(url, file)

In [10]:
count = 1

for index, row in coords.iterrows():
    
    file = "./tan_imagery/z18_" + str(row.school_id) + ".png"
    
    if not os.path.exists(file):
    
        msg = "File #" + str(count)
        GetGoogleStatic(row['latitude'], row['longitude'], row['school_id'])
        count += 1

        with open("./tan_counter.txt", "w") as f:
            f.write(str(count) + " out of " + str(len(coords)))